/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Condensed:wght@300;400&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:target {
  content: '';
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

*:not(a, input, button) {
  cursor: default;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

audio::-webkit-media-controls-panel {
  background-color: #cfd2d4;
  border-radius: none !important;
}

audio:not(.show-contols):-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}